@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
}

/* form {
	display: flex;
	flex-direction: column;
} */

.footer_container {
	display: flex;
	justify-content: space-between;
}

.logo {
	text-align: left;
	font: normal normal normal 14px/27px Open Sans;
	letter-spacing: 0px;
	color: #728391;
	opacity: 1;
	display: flex;
	align-items: center;
	object-fit: contain;
	gap: 10px;
	margin-left: 50px;
}

.logo img {
	width: 70px;
	height: 20px;
}

.options {
	margin-right: 50px;
	font: normal normal normal 14px/27px Open Sans;
	letter-spacing: 0px;
	opacity: 1;
	display: flex;
	gap: 20px;
	color: #003fb9;
}

.login {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.spinner {
	width: 20px;
	height: 20px;
	border: 3px solid rgba(0, 0, 0, 0.1);
	border-top-color: #fff;
	animation: spin013151 1s linear infinite;
	border-radius: 100%;
}

@keyframes spin013151 {
	to {
		transform: rotate(360deg);
	}
}

